@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

header {
    background-color: rgb(56, 14, 153);
    color: white;
}

h1 {
    font-family: Mooli, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}


.hide {
    display: none
}


.menu-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: rgb(56, 14, 153);
    border: none;
    color: white;
    text-align: center;
    margin: 0 auto;
    display: block;
}

h2 {
    font-family: Mooli, sans-serif;
    margin: 0;
    text-align: center;
    padding: 30px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-decoration: underline;
}

a:hover {
    color: lightblue;
    cursor: pointer;
}

a:link,
a:visited {
    color: purple;
}

footer {
    background-color: rgb(56, 14, 153);
    color: white;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}



.normal {
    height: 250px;
    width: 250px;
    object-fit: cover;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 8px 10px;
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.close {
    grid-column: 6/7;
    grid-row: 1/2;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 2rem;
}

.enlarged {
    padding: 15px;
    max-height: 100%;
    max-width: 95%;
    grid-column: 1/7;
    grid-row: 2/3;

}

@media screen and (min-width:700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav {
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }

    /* 
    button {
        display: none;
    } */

    a {
        padding: 5px 15px;
        margin: 0px 35px;
    }

    .menu {
        display: block;
    }

    .menu-button {
        display: hide;
    }


    .viewer {
        position: fixed;
        top: 50px;
        left: 50px;
        bottom: 50px;
        right: 50px;
        background-color: rgba(0, 0, 0, 0.75);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .close {
        grid-column: 6/7;
        grid-row: 1/2;
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 1rem;
        text-align: center;
    }

    .enlarged {
        padding: 15px;
        max-height: 100%;
        max-width: 100%;
        grid-column: 1/7;
        grid-row: 2/6;
        justify-self: center;
        align-self: center;
    }
}