h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    text-align: center;
    letter-spacing: 1.5px;
    border-bottom: 2px gray solid;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: lightblue solid 2px;

}

main {
    margin: 50px;
}

section {
    /* margin: 20px; */
    width: 260px;
    display: inline-block;
    padding: 15px;
}

.list {
    display: flex;
    flex-direction: column;
    align-content: left;
}

.ponder {
    padding: 15px;
    background-color: rgb(72, 123, 226);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin: 15px;
    text-align: center;
}

.ponder:hover {
    padding: 15px;
    background-color: rgb(61, 100, 176);
    color: rgb(241, 241, 241);
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.prove {
    padding: 15px;
    background-color: rgb(59, 20, 158);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin: 15px;
    text-align: center;
}

.prove:hover {
    padding: 15px;
    background-color: rgb(22, 5, 105);
    color: rgb(194, 195, 206);
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    margin-left: 25px;
}

li {
    display: inline;
}