@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
    background-color: #FAF3DD;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #16837D;
    padding: 0px 50px;
    gap: 150px;
    border-radius: 0px;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 40px 75px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1em;
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav a:hover {
    background-color: #FAF3DD;
    color: #16837D;
}

nav a:active {
    background-color: #2E8563;
    color: white;
}

.imglogo {
    display: block;
    width: auto;
    height: 80px;
    /* margin-right: 20px; */
    margin: 0;
    align-content: center;
    border-radius: 0px;
}

.imgworld {
    width: 75%;
    /* height: 50%; */
}

/* HOME PAGE */
main {
    text-align: center;
    margin: 100px;
}

.heroimg {
    width: 100%;
    align-content: center;
}

.intro {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 100px;
    /* margin-bottom: -200px; */

}

h1 {
    font-family: Montserrat, sans-serif;
    text-align: left;
    margin-top: 0px;
    font-size: 3em;
    margin-bottom: 75px;
}

h2 {
    font-family: Montserrat, sans-serif;
    text-align: left;
    margin-top: 50px;
    font-size: 2em;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #16837D;
    margin-left: -100px;
    /*Extends to the rest of the screen horizontally*/
    margin-right: -100px;
    color: white;
    font-size: 1.25em;
}

.mapslist {
    text-align: left;
    /* padding: 75px 50px; */
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Raleway, sans-serif;
}

.list {
    display: inline-block;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 150%;
    font-size: 1em;
}

.explorecard {
    display: flex;
    flex-direction: column;
    margin: 30px 75px;
    padding: 30px 50px;
    gap: 30px;
    align-items: center;
    /* border: 2px solid white; */
    border-radius: 25px;
    background-color: #FAF3DD;
    color: black;
}

.explorecard p {
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

.explorecard a {

    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-decoration: none;
    background-color: #16837D;
    color: white;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #6f7364;
}

.explorecard a:hover {

    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-decoration: none;
    background-color: #2E8563;
    color: #FAF3DD;
    padding: 25px 30px;
    border-radius: 15px;
}

.bottomtext {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.text {
    text-align: left;
    font-family: Raleway, sans-serif;
    font-size: 1.15em;
    padding-right: 75px;
}

.imagerecent {
    /* width: 100%; */
    max-width: 960px;
    display: flex;
    border: 5px solid #4A7C59;
    border-radius: 25px;
    margin-top: 25px;
    box-shadow: 0px 3px 10px #6f7364;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #16837D;
    padding: 15px 50px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin-bottom: 0;

}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #FAF3DD;
    text-decoration: underline;
}

footer a:visited {
    color: white;
    text-decoration: none;
}

/* EXPLORE MAPS PAGE */

.row {
    display: flex;
    flex-direction: row;
    font-family: Raledale, sans-serif;
}

.column {
    /* border: 2px solid black; */
    padding: 25px;
    margin: 10px;
    text-align: left;
    background-color: #16837D;
    color: white;
    border-radius: 15px;
}

.imgmap {
    width: 600px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.imgmap:hover {
    transform: scale(1.4);
    align-content: center;
}

/* .imgmap:focus img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
} */

/* ABOUT ME */

.aboutme {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 60px);
    margin: 25px;
    /* background-color:#539f9a; */
}

.cardbackground {
    background-color: #16837D;
    grid-column: 1/11;
    grid-row: 2/8;
}

.aboutmetext {
    grid-column: 6/10;
    grid-row: 3/6;
    text-align: left;
    font-family: Montserrat, sans-serif;
    color: white;
}

.aboutmeimg {
    grid-column: 2/5;
    grid-row: 1/9;
    /* width: 100%; */
    height: 100%;
    border: 10px #16837D;
    /* box-shadow: -1px 1px 5px 2px gray; */
}

#aboutmeimages {
    display: grid;
    grid-template-columns: 2fr;
    margin-top: 75px;
}

#aboutmelogo {
    grid-column: 1/2;
    margin-left: 25px;
}

#templeimg {
    grid-column: 2/3;
    margin-right: 25px;
}


@media screen and (max-width: 1350px) {
    .aboutme {
        display: flex;
        flex-wrap: wrap;
    }

    .aboutmetext {
        font-size: 0.75rem;
        background-color: #16837D;
        padding: 25px;
    }

    .aboutmeimg {
        width: 50%;
    }

    #templeimg {
        display: block;
        margin-left: 0;
        margin-right: auto;
        max-width: 100%;

    }

}